DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=players_development
DATABASE_HOST=db
SECRET_KEY_BASE=123ChangeMe
RAILS_ENV=development

# Email Configuration (optional for development)
# MAILGUN_SMTP_ADDRESS=smtp.mailgun.org
# MAILGUN_SMTP_PORT=587
# MAILGUN_SMTP_DOMAIN=billymartinplayersleague.com
# MAILGUN_SMTP_USERNAME=postmaster@mg.billymartinplayersleague.com
# MAILGUN_SMTP_PASSWORD=your_mailgun_smtp_password
# MAILGUN_SMTP_AUTHENTICATION=plain
# MAILER_FROM=no-reply@billymartinplayersleague.com
