# ================================
# 📦 RAILS APP (players-prod)
# ================================
RAILS_ENV=production
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
SECRET_KEY_BASE=op://rails-app/Rails App (Production)/SECRET_KEY_BASE

# Postgres settings for Rails
POSTGRES_USER=op://rails-app/Rails App (Production)/POSTGRES_USER
POSTGRES_PASSWORD=op://rails-app/Rails App (Production)/POSTGRES_PASSWORD
POSTGRES_DB=op://rails-app/Rails App (Production)/POSTGRES_DB


