# PostgreSQL
POSTGRES_USER=op://bmpl-infrastructure-secrets/postgres-dev/username
POSTGRES_PASSWORD=op://bmpl-infrastructure-secrets/postgres-dev/password
POSTGRES_DB=op://bmpl-infrastructure-secrets/postgres-dev/db

# Rails
SECRET_KEY_BASE=op://bmpl-infrastructure-secrets/rails-secret-base-key-dev/value
RAILS_ENV=development