# Rails defaults
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/.bundle/
/db/*.sqlite3
/db/*.sqlite3-journal
/public/packs
/public/assets/*
!/public/assets/.keep
/public/packs-test
/public/system
/public/uploads
/.byebug_history
/storage/*
!/storage/.keep
/node_modules
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/patches
.yarn/releases
.yarn/versions

# Ignore master key if using credentials
/config/master.key

# dotenv files
.env
.env.*

# Yarn and lock files
yarn-error.log

# macOS and IDE cruft
.DS_Store
.idea/
/.vscode/

# Docker
*.pid
*.sock
docker-compose.override.yml

# Optional: ignore system test screenshots
/tmp/screenshots/*

# Optional: if using foreman or Procfile-based setups
.procfile.dev
